/* src/styles/Footer.css */

.footer {
  background: #000000;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 2px 8px rgb(236, 236, 236);
  max-width: 1600px;
  margin: 40px auto 0 auto;
  font-family: 'Segoe UI', sans-serif;
  color: #7641bc;
}

.footer-top {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-logo {
  height: 70px;
}

.footer-title {
  font-weight: 700;
  font-size: 30px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.footer-links div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-links h4 {
  font-size: 14px;
  color: #7641bc;
  margin-bottom: 6px;
}

.footer-links a {
  color: #7641bc;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #ffffff;
}

.footer-divider {
  margin: 30px 0;
  border: none;
  height: 1px;
  background: #eee;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  color: #7641bc;
}

.footer-icons {
  margin-top: 10px;
  display: flex;
  gap: 16px;
  font-size: 25px;
  width: 50%;
  color: #7641bc;
  transition: color 0.3s;
}

.footer-icons svg:hover {
  color: #111;
  cursor: pointer;
}

@media (min-width: 768px) {
  .footer-top {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
